.cvContainer {
  background-color: white;
  height: 800px;
  aspect-ratio: 0.707;
  padding: 32px;
  display: grid;
  margin: auto;
  gap: 8px;
  align-content: flex-start;
}

.cvGeneralInfo {
  border: 1px dashed black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-content: center;
}

.cvName {
  font-size: 32px;
  font-weight: 700;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: start;
  align-self: center;
}

.cvProfession {
  font-size: 16px;
  font-weight: 700;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: start;
  align-self: center;
}

.cvEmail,
.cvPhone,
.cvWebsite {
  font-size: 14px;
  font-weight: 500;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
  align-self: center;
}

.cvEducation,
.cvExperience {
  /* height: 240px; */
  border: 1px dashed black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: flex-start;
  gap: 2px;
}

.cvEducationHeader,
.cvExperienceHeader {
  font-size: 18px;
  font-weight: 600;
}

.cvSchoolName,
.cvCompany {
  font-size: 16px;
  font-weight: 600;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-top: 8px;
}

.cvTitleStudy,
.cvJobTitle,
.cvJobTasks {
  font-size: 14px;
  font-weight: 600;
  grid-column-start: 1;
  grid-column-end: 2;
}

.cvJobTasks {
  font-weight: 400;
}

.cvExperienceSection,
.cvEducationSection {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: flex-start;
  gap: 2px;
}

.cvDateStudy,
.cvDateJob {
  font-size: 14px;
  font-weight: 400;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: end;
  align-self: flex-end;
}
